<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity?.Name</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Cerrar sesión</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrar nuevo</a>
        <a href="Identity/Account/Login">Abrir sesión</a>
    </NotAuthorized>
</AuthorizeView>
