# Visual Studio cache/options
.vs/
.vscode/

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Archivos de publicación
**/PubTmp/

# Archivos de configuración con secretos
**/appsettings.Development.json
**/appsettings.Production.json

#Secretos a nivel desarrollo
secrets.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates