@inherits LayoutComponentBase
@layout AccountLayout

<h1>Administración de cuenta</h1>

<div>
    <h2>Edite la configuración de la cuenta</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
