.floating-destination-panel {
	position: absolute;
	top: 340px;
	left: 16px;
	width: 300px;
	height: 60px;
	border-radius: 16px;
	box-shadow: 0 4px 24px rgba(0,0,0,0.15);
	padding: 12px;
	z-index: 100;
}

.no-border {
	border: none !important;
	box-shadow: none !important;
}
