@page "/"

<PageTitle>Zafiro</PageTitle>
<img src="images/ZafiroTheme.jpeg" alt="Zafiro Theme" class="half-screen mid-title" />

<h1 class="centered-heading">Zafiro</h1>

<h2 class="centered-heading">Gestión Avanzada de Taller</h2>



