@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmación de contraseña olvidada</PageTitle>

<h1>Confirmación de contraseña olvidada</h1>
<p>
    Por favor, compruebe su buzón de correo para restablecer la contraseña.
</p>
