@page "/Account/InvalidPasswordReset"

<PageTitle>Error de restablecimiento</PageTitle>

<h1>Restablecimiento no válido de contraseña</h1>
<p>
    El enlace para restablecimiento de la contraseña no es válido.
</p>
