@page "/Account/Lockout"

<PageTitle>Bloqueada</PageTitle>

<header>
    <h1 class="text-danger">Credenciales bloqueadas</h1>
    <p class="text-danger">Esta cuenta está bloqueada. Por favor, inténtelo más tarde.</p>
</header>
