@page "/Account/ResetPasswordConfirmation"
<PageTitle>Restablecimiento de la confirmación de la contraseña</PageTitle>

<h1>Restablecimiento de la confirmación de la contraseña</h1>
<p>
    Se restableció su contraseña. Por favor, <a href="Account/Login">pulse aquí para abrir sesión</a>.     
</p>
