:root {
    /* Tema claro (por defecto, para luz intensa) */
    /* Definición de variables en CSS*/
    --bg-color: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    --border-color: #ccc;
    --station-line-color: #aaa;
    --singular-line-color: #eee;
    --circulation-label-color: black;
    --hour-line-color: black;
    --hour-line-thick-color: #d1e7f0;
    --hour-line-thin-color: #8fa3ad;
    --half-hour-line-color: #b0c4cc;
    --quarter-hour-line-color: #d1e7f0;
    --five-minute-line-color: #e8f4f8;
    --singular-name-fill: gray;
    --station-name-fill: teal;
    --axis-stroke-color: black;
    --hour-text-color: black;
    --unselected-time-fill: #00000090;
    --current-time-color-front: #ee2222;
    --current-time-color-fill: #ee4444;
    --train-color-index: 0;
    /* Agrega más variables según los colores usados en el SVG, como para las líneas de circulación, etiquetas, etc. */
}

.timenet-svg {
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}



.timenet-hour-line-thick {
    stroke: var(--hour-line-thick-color);
    stroke-width: 5;
}

.timenet-hour-line-thin {
    stroke: var(--hour-line-thin-color);
    stroke-width: 3;
}

.timenet-half-hour-line {
    stroke: var(--half-hour-line-color);
    stroke-width: 2;
}

.timenet-quarter-hour-line {
    stroke: var(--quarter-hour-line-color);
    stroke-width: 1;
}

.timenet-five-minute-line {
    stroke: var(--five-minute-line-color);
    stroke-width: 1;
}

.timenet-singular-name-label {
    font-size: 9px;
    text-anchor: end;
    fill: var(--singular-name-fill);
}

.timenet-singular-line {
    stroke: var(--singular-line-color);
    stroke-width: 1;
}

.timenet-station-name-label {
    font-size: 13px;
    text-anchor: end;
    fill: var(--station-name-fill);
}

.timenet-station-line {
    stroke: var(--station-line-color);
    stroke-width: 2;
}

.timenet-circulation-label {
    font-size: 9px;
    text-anchor: middle;
    fill: var(--circulation-label-color);
}

.timenet-axis {
    stroke: var(--axis-stroke-color);
    stroke-width: 1;
}

.timenet-hour-text-up {
    fill: var(--hour-text-color);
    font-size: 14px;
    text-anchor: middle;
}
.timenet-hour-text-down {
    fill: var(--hour-text-color);
    font-size: 14px;
    text-anchor: middle;
}

.timenet-unselected-rectangle-fill{
    fill: var(--unselected-time-fill);

}