/* Barra horizontal bajo el texto */
.cell-bar {
    margin-top: 0.25em;
    width: 80%;
    height: 4px;
    border-radius: 2px;
    opacity: 0.7;
}

.turno-cell {
    background: #321D71;
    color: #fff;
    font-weight: bold;
}

.smallest-text {
    font-size: 0.6rem; /* Muy pequeño */
    color: #333;
    display: block;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}