@page "/"

<PageTitle>Zafiro 2025</PageTitle>

<h1>Zafiro 2025</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Bienvenido.
