.tesla-root {
    width: 100vw;
    height: 100vh;
    /*background: #f7f7f7;*/
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    overflow: hidden;
}



.tesla-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 0;
    border-radius: 0;
    box-sizing: border-box;
    min-height: 0;
    /*background: #fff;*/
    position: relative;
    width: 100%;
    height: 100%;
}

.tesla-left {
    flex: 1 1 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    min-width: 0;
    min-height: 0;
    box-shadow: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

    .tesla-left img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain; /* O usa 'cover' si quieres recortar */
        object-position: top;
    }

.tesla-right {
    flex: 2 1 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    min-width: 0;
    min-height: 0;
    box-shadow: none;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
